/** @format */

.login_cover {
  border-top: 1px solid rgb(158, 158, 158);
  border-bottom: 1px solid rgb(158, 158, 158);
  padding: 80px 0;
  text-align: center;
}
.input_cover {
  text-align: end;

  margin: auto;
  padding-right: 60px;
}
.check {
  text-align: center;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  margin-right: 5px;
}
.bt_cover {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.bt_cover div a {
  padding: 10px 30px;
  background-color: #ffe644;
  border-radius: 15px;
}
input {
  margin-top: 20px;
}
label {
  margin-right: 20px;
}
.id,
.pw {
  padding: 10px 0;
  border-radius: 10px;
  border: 0.1px solid rgb(107, 107, 107);
}
.id::placeholder,
.pw::placeholder {
  padding-left: 10px;
  font-size: 16px;
}
a {
  color: white;
}
/*여기부터 book*/
.img_cover {
  padding: 20px 0;
  width: 70%;
  margin: auto;
  border-bottom: 1px solid rgb(75, 75, 75);
}
.img_cover img {
  width: 100%;
}
.text_cover {
  width: 80%;

  margin: auto;
  padding: 30px 0;
}
.text_cover h1 {
  font-size: 20px;
}
.text_cover p {
  margin-bottom: 20px;
  font-size: 17px;
}
.back {
  text-align: center;
}
.back a {
  color: black;
}
.back_img h2 {
  padding-bottom: 20px;
  padding-left: 38px;
  font-size: 20px;
}
.login_back {
  padding-top: 90px;
}
